$white:#FFFFFF;
$gold: #CCAC48;
$blue:rgb(60, 160, 219);
$dark-blue:#011E4B;

$text-white: $white;
$text-blue: $dark-blue;
$overlay-30: #0000004D;
$overlay-20:#00000033;

$font-futura: 'Futura New';
$font-goldman: 'Goldman';


$tablet-width:1920px;
$mobile-width:320px;