# Системные и редакторские файлы
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Конфиги и приватные файлы
.env
.hintrc
mail_config.php

# Вспомогательные скрипты
fix.js
unfix.js
minify-css.js

# Временные файлы и резервные копии
*.bak
*.tmp
*.swp

# Исходники, которые не нужны на GitHub
scss/


# GitHub Actions (оставляем, если используешь)
# .github/
