RewriteEngine On

# Убираем завершённый слэш у адресов
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# Убираем .html из URL
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

# Если файл или папка существует — пропускаем
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ЧПУ маршруты
RewriteRule ^home$ index.html [L]
RewriteRule ^about$ /pages/about.html [L]
RewriteRule ^coaches$ /pages/coach.html [L]
RewriteRule ^news$ /pages/news.html [L]
RewriteRule ^teams$ /pages/teams.html [L]
RewriteRule ^junior-group$ /pages/junior.html [L]
RewriteRule ^middle-group$ /pages/middle.html [L]
RewriteRule ^senior-group$ /pages/senior.html [L]
RewriteRule ^politic$ /pages/politic.html [L]
RewriteRule ^consent$ /pages/consent.html [L]
RewriteRule ^admin$ /pages/admin/admin.php [L]
RewriteRule ^news/([a-zA-Z0-9_-]+)$ /pages/news-posts/$1.html [L]

# Защита системных файлов
<FilesMatch "^\.ht">
  Require all denied
</FilesMatch>

<Files "mail_config.php">
  Require all denied
</Files>
