.advantages {

    background-color: $white;

    &__wrapper {
        padding: 70px 0 120px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;


        @media (max-width: 780px) {
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding: 60px 0 60px 0;
        }

    }

    &__card {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 174px;
        position: relative;
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1.5s ease, transform 1.5s ease;

        @media (max-width: 1600px) {
            height: 174px;
        }

        @media (max-width: 1440px) {
            height: 140px;
        }

        @media (max-width: 1200px) {
            width: 32%;
            height: 160px;
        }

        @media (max-width: 780px) {
            width: 454px;
            height: 134px;
        }

        @media (max-width: 480px) {
            width: 400px;
            height: 134px;
        }

        @media (max-width: 430px) {
            width: 280px;
            height: 82px;
        }




        &--top {
            transform: translateY(-100px);

            @media (max-width: 780px) {
                transform: translateY(100px);
            }
        }

        &--visible {
            opacity: 1;
            transform: translateY(0);
        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;

            @media (max-width:780px) {
                width: 94%;
            }
        }

        &-text {
            position: relative;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            @include font(34px, 400, 100%);
            color: $text-white;
            width: 374px;

            @media (max-width: 1900px) {
                @include font(30px, 400, 100%);
                width: 325px;
            }

            @media (max-width: 1400px) {
                @include font(24px, 400, 100%);
                width: 270px;
            }

            @media (max-width: 1160px) {
                @include font(24px, 400, 100%);
                width: 265px;

            }

            @media (max-width: 1000px) {
                @include font(18px, 400, 100%);
                width: 200px;

            }

            @media (max-width: 780px) {
                @include font(30px, 400, 100%);
                width: 325px;
            }

            @media (max-width: 430px) {
                @include font(20px, 400, 100%);
                width: 220px;
            }
        }
    }
}