.crumbs {
    &__list {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    margin-top: 250px;


    @media (max-width: 1440px) {
        margin-top: 220px;
    }

    @media (max-width: 1200px) {
        margin-top: 170px;
        gap: 2px;
    }

    @media (max-width: 780px) {
        margin-top: 160px;
    }


    &__item {

        a {
            text-decoration: none;
            color: $text-blue;

            &:hover {
                text-decoration: underline;
                transition: all 300ms ease-in-out;
            }
        }



        @include font(22px, 400, 100%);
        color: $text-blue;

        @media (max-width: 1200px) {
            @include font(17px, 400, 100%);
        }

        @media (max-width: 430px) {
            @include font(12px, 400, 100%);
        }
    }

    &__separator {
        height: 24px;

        @media (max-width: 430px) {

            height: 18px;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;

        @media (max-width: 430px) {
            width: 18px;
            height: 18px;
        }
    }

}