.groups {
    margin-top: 120px;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;

    @media (max-width: 780px) {
        margin-top: 60px;
    }

    &-other {
        margin-top: 100px;
    }


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @include font(50px, 400, 100%);
        color: $text-blue;

        @media (max-width: 780px) {
            @include font(36px, 400, 100%);
        }

        @media (max-width: 430px) {
            @include font(22px, 400, 100%);
        }
    }


    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;

        &-junior {
            margin-top: 62px;

            @media (max-width:1024px) {
                margin-top: 60px;
            }
        }

        &-middle {
            margin-top: 24px;

            @media (max-width:1024px) {
                margin-top: 60px;
            }
        }

        &-senior {
            margin-top: 0px;

            @media (max-width:1024px) {
                margin-top: 60px;
            }
        }

        @media (max-width: 1024px) {
            justify-content: center;
        }

        @media (max-width: 430px) {
            margin-top: 32px;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        @media (max-width:1024px) {
            gap: 582px;
        }

        @media (max-width:779px) {
            gap: 310px;
        }

        &-junior {
            margin-top: 84px;

            @media (max-width:1024px) {
                margin-top: 0;
            }
        }

        &-middle {
            margin-top: 126px;

            @media (max-width:1024px) {
                margin-top: 0;
            }
        }

        &-senior {
            margin-top: 140px;

            @media (max-width:1024px) {
                margin-top: 0;
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: left;
            gap: 50px;

            @media (max-width:1024px) {
                gap: 542px;
            }

            @media (max-width:779px) {
                gap: 310px;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        z-index: 5;
        width: 563px;
        height: 133px;
        position: relative;
        border-radius: 100px;
        background-color: $white;
        border: 1px solid #011E4B;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: 100ms ease-in-out;

        @media (max-width: 779px) {
            width: 334px;
            height: 78px;
        }

        &:hover {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
        }

        &:hover .groups__link-wrapper {
            transform: translateX(430px) rotate(45deg);


        }

        &-wrapper {
            left: 0;
            position: absolute;
            width: 136px;
            height: 136px;
            background-color: $blue;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: transform 0.7s ease-in-out;

            @media (max-width: 779px) {
                width: 80px;
                height: 80px;
            }

        }


        &-icon {
            width: 81px;
            height: 81px;

            @media (max-width: 779px) {
                width: 42px;
                height: 42px;
            }
        }

        &-title {
            width: 256px;
            margin-left: auto;
            margin-right: 138px;
            @include font (34px, 400, 100%);
            color: $text-blue;


            @media (max-width: 779px) {
                @include font (16px, 400, 100%);
                margin-right: 108px;
                width: 117px;
            }
        }
    }


    &__button {
        width: 710px;
        min-height: 118px;
        border-radius: 100px;
        border: 1px solid $white;
        background-color: $gold;
        @include font (40px, 400, 100%);
        padding: 35px 0;
        color: $white;
        cursor: pointer;
        transition: 100ms ease-in-out;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
        cursor: pointer;
        z-index: 5;

        &:hover {
            color: $gold;
            background-color: $white;
            border: 1px solid $gold;
        }

        &:active {
            transform: scale(0.95);
        }

        @media (max-width:779px) {
            width: 340px;
            @include font (18px, 400, 100%);
            padding: 24.5px 0;
            min-height: 71px;
        }
    }

    &__logo {
        width: 32%;
        height: 100%;
        z-index: 5;
        margin-right: 60px;
        transition: all 1s ease-out;




        @media (max-width: 1600px) {
            margin-right: 20px;
        }


        @media (max-width: 1440px) {
            margin-top: 31px;
            margin-right: 10px;
        }

        @media (max-width: 1200px) {
            margin-top: 131px;
            margin-right: 10px;
        }

        @media (max-width: 1150px) {
            width: 28%;
        }

        @media (max-width: 1024px) {
            display: none;
        }

        &-junior {
            width: 641px;
            height: 782px;
            z-index: 5;
            margin-right: 143px;
        }

        &-middle {
            width: 615px;
            height: 838px;
            z-index: 5;
            margin-right: 240px;
        }

        &-senior {
            width: 433px;
            height: 768px;
            z-index: 5;
            margin-right: 282px;
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

    }

    &__line {
        top: 80px;
        left: -460px;
        position: absolute;
        width: 2590px;
        left: -470px;
        z-index: 1;


        @media (max-width: 1900px) {
            top: 86px;
            left: -500px;
        }

        @media (max-width: 1850px) {
            top: 86px;
            left: -520px;
        }

        @media (max-width: 1800px) {
            top: 86px;
            left: -540px;
        }

        @media (max-width: 1750px) {
            top: 86px;
            left: -560px;
        }

        @media (max-width: 1700px) {
            top: 86px;
            left: -580px;
        }

        @media (max-width: 1650px) {
            top: 86px;
            left: -600px;
        }


        @media (max-width: 1600px) {
            top: 86px;
            left: -620px;
        }

        @media (max-width: 1440px) {
            top: 50px;
            left: -760px;
        }

        @media (max-width: 1200px) {
            top: 50px;
            left: -850.5px;
            ;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__img-icon {
        position: relative;

    }

    .junior-img {
        position: absolute;
        width: 584px;
        height: 724px;
        z-index: 5;
        right: -960px;
        bottom: -560px;

        @media (max-width:1600px) {
            right: -740px;
        }

        @media (max-width:1440px) {
            right: -714px;

        }

        @media (max-width:1200px) {
            right: -503px;
            width: 500px;
            height: 620px;
        }

        @media (max-width:1024px) {
            top: 170px;
            left: 47.5%;
            width: 389px;
            height: 476px;
        }

        @media (max-width:779px) {
            top: 120px;
            left: 40.5%;
            width: 213px;
            height: auto;
        }
    }

    .middle-img {
        position: absolute;
        width: 615px;
        height: 838px;
        z-index: 5;
        right: -1120px;
        bottom: -410px;

        @media (max-width:1600px) {
            right: -900px;
        }

        @media (max-width:1440px) {
            right: -746px;
        }

        @media (max-width:1200px) {
            right: -523px;
            width: 500px;
            height: 681px;
        }

        @media (max-width:1024px) {
            top: 160px;
            right: 49%;
            width: 376px;
            height: 467px;
        }

        @media (max-width:779px) {
            top: 100px;
            right: 49%;
            width: 205px;
            height: auto;
        }
    }

    .senior-img {
        position: absolute;
        width: 433px;
        height: 768px;
        z-index: 5;
        right: -1040px;
        bottom: -202px;

        @media (max-width:1600px) {
            right: -800px;
        }

        @media (max-width:1440px) {
            right: -714px;
        }

        @media (max-width:1200px) {
            right: -503px;
            width: 400px;
            height: 709px;
        }

        @media (max-width:1024px) {
            top: 140px;
            left: 63%;
            width: 280px;
            height: 490px;
        }

        @media (max-width:779px) {
            top: 110px;
            left: 45%;
            width: 133px;
            height: auto;
        }
    }


    &__img-icon,
    .junior-img,
    .middle-img,
    .senior-img {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.98) translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
        position: absolute;
        pointer-events: none;
        z-index: 5;

        @media (max-width:1024px) {
            opacity: 1;
            visibility: visible;
            transform: none;
            animation: none;
        }
    }

    .junior-img.visible,
    .middle-img.visible,
    .senior-img.visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1.02) translateY(0);
        animation: flash 0.5s ease forwards;

        @media (max-width:1024px) {
            transform: none;
            animation: none;
        }
    }

    @keyframes flash {
        0% {
            opacity: 0;
            transform: scale(0.95) translateY(20px);
        }

        50% {
            opacity: 1;
            transform: scale(1.05) translateY(0);
        }

        100% {
            opacity: 1;
            transform: scale(1) translateY(0);
        }
    }
}


.vector {
    &-junior {
        position: absolute;
        pointer-events: none;
        display: none;
        width: 1196px;
        height: 252px;

        @media (max-width:1024px) {
            display: block;
            top: 341px;
            left: -390px;
        }

        @media (max-width:779px) {
            width: 1028px;
            height: 225px;
            top: 121px;
            left: -529px;
        }
    }

    &-middle {
        position: absolute;
        pointer-events: none;
        display: none;
        width: 1039px;
        height: 217px;

        @media (max-width:1024px) {
            display: block;
            top: 265px;
            left: -247px;
        }

        @media (max-width:779px) {
            width: 814px;
            height: 178px;
            top: 150px;
            left: -210px;
        }
    }

    &-senior {
        position: absolute;
        pointer-events: none;
        display: none;

        width: 1069px;
        height: 227px;

        @media (max-width:1024px) {
            display: block;
            top: 341px;
            left: -270px;
        }

        @media (max-width:779px) {


            top: 120px;
            left: -508px;
        }

        @media (max-width:450px) {
            width: 837px;
            height: 188px;
            left: -407px;
        }
    }
}


@media (max-width:1024px) {
    .vector {
        &-junior {
            display: block;
        }

        &-middle {
            display: block;
        }

        &-senior {
            display: block;
        }
    }
}



@media (max-width: 1024px) {
    .groups__link-wrapper.animate {
        transform: translateX(430px) rotate(45deg);
    }
}

@media (max-width: 779px) {
    .groups__link-wrapper.animate {
        transform: translateX(258px) rotate(45deg);
    }
}