.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
  padding-top: 20px;
  padding-bottom: 20px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;

  &--visible {
    transform: translateY(0);
    opacity: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;


    a {
      z-index: 1001;
    }

  }

  &__logo {
    width: 202px;
    height: 164px;


    @media (max-width: 1600px) {
      width: 180px;
      height: 100%;
    }

    @media (max-width: 1440px) {
      width: 160px;
      height: 100%;
    }

    @media (max-width: 1200px) {
      width: 100px;
      height: 100%;
    }

    @media (max-width: 1000px) {
      width: 90px;
      height: 100%;
    }

    @media (max-width: 780px) {
      width: 90px;
      height: 100%;
      padding-left: 10px;
    }
  }

  &__navigation {

    &-list {
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width: 1800px) {
        gap: 30px;
      }

      @media (max-width: 1600px) {
        gap: 20px;
      }

      @media (max-width: 1200px) {
        gap: 15px;
      }

      @media (max-width: 960px) {
        gap: 10px;
      }


    }

    &-link {
      text-decoration: none;
      @include font(24px, 400, 100%);
      text-transform: uppercase;
      color: $text-white;
      cursor: pointer;

      @media (max-width: 1750px) {
        @include font(22px, 400, 100%);
      }

      @media (max-width: 1440px) {
        @include font(20px, 400, 100%);
      }

      @media (max-width: 1400px) {
        @include font(18px, 400, 100%);
      }

      @media (max-width: 1200px) {
        @include font(17px, 400, 100%);
      }


      @media (max-width: 1050px) {
        @include font(15px, 400, 100%);
      }

      @media (max-width: 960px) {
        @include font(14px, 400, 100%);
      }

      @media (max-width: 850px) {
        @include font(13px, 400, 100%);
      }

      &-wrapper {
        display: flex;
        align-items: center;
      }

      &:hover {
        transition: ease-in-out 100ms;
        color: $gold;
      }
    }


    &-arrow {
      align-self: center;
    }

    &-item--dropdown {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;


      &:hover .header__navigation-arrow {
        transform: rotate(-90deg);

        path {
          fill: #CCAC48;
        }
      }


      &:hover .header__dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 110%;
    left: 0;
    background-color: transparent;
    border-radius: 8px;
    padding: 3px 0px;
    opacity: 1;
    visibility: hidden;
    transform: translateY(10px);
    z-index: 1001;
    transition: all 0.3s ease;




    &--white {
      top: 32px;
      border: 1px solid $white;
      padding: 24px 0px;
      background-color: $blue;
    }

    &-link {
      display: block;
      color: $white;
      text-decoration: none;
      @include font(24px, 400, 100%);
      text-transform: uppercase;
      transition: background 0.2s ease;

      @media (max-width: 1440px) {
        @include font(20px, 400, 100%);
      }

      @media (max-width: 1200px) {
        @include font(17px, 400, 100%);
      }

      @media (max-width: 960px) {
        @include font(13px, 400, 100%);
      }

      &--white {
        color: $white;
      }

      &:hover {
        color: $gold;
      }
    }
  }


  &__button {
    background-color: $gold;
    border: 1px solid $white;
    border-radius: 100px;
    padding: 27.5px 0;
    width: 300px;
    @include font(26px, 400, 100%);
    color: $white;
    cursor: pointer;
    transition: 100ms ease-in-out;

    @media (max-width: 1600px) {
      padding: 22px 0;
      width: 260px;
    }

    @media (max-width: 1440px) {
      @include font(20px, 400, 100%);
      padding: 18px 0;
      width: 180px;
    }

    @media (max-width: 1200px) {
      @include font(17px, 400, 100%);
      padding: 14px 0;
      width: 160px;
    }

    @media (max-width: 960px) {
      @include font(13px, 400, 100%);
      padding: 12px 0;
      width: 120px;
    }

    &:hover {
      color: $gold;
      background-color: $white;
      border: 1px solid $gold;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__info {
    display: flex;
    gap: 30px;
    align-items: center;

    @media (max-width: 1600px) {
      gap: 15px;
    }
  }

  &__link-call {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;

    @media (max-width: 1440px) {
      width: 42px;
      height: 42px;
    }

    @media (max-width: 1200px) {
      width: 26px;
      height: 26px;
    }
  }

  &__phone-icon {
    width: 42px;
    height: 42px;
    fill: $white;

    @media (max-width: 1440px) {
      width: 36px;
      height: 36px;
    }

    @media (max-width: 1200px) {
      width: 26px;
      height: 26px;
    }

    &:hover {
      transition: ease-in-out 100ms;
      fill: $gold;
    }
  }


  @media (max-width: 780px) {
    &__navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: $blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all 0.4s ease;

      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        margin-top: 180px;

        @media (max-width: 376px) {
          gap: 32px;
          margin-top: 130px;
        }

      }


      &-item {
        width: 100%;
        text-align: center;
      }

      &-link {
        font-size: 24px;

        @media (max-width:375px) {
          font-size: 22px;
        }
      }

      &.active {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    &__info {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }

  &__burger {
    margin-right: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
    background-color: $gold;
    border: 1px solid $white;
    border-radius: 6px;

    @media (max-width: 360px) {
      width: 20px;
      height: 20px;
    }

    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: $white;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &.active {
      span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  @media (max-width: 780px) {

    &__wrapper {
      justify-content: space-between;
    }

    &__navigation {
      display: none; // прячем навигацию
    }

    &__info {
      display: none; // прячем кнопку и телефон
    }

    &__burger {
      display: flex; // показываем бургер
    }
  }


  &__navigation-item--dropdown {
    @media (max-width: 780px) {
      position: relative;
      display: flex;
      flex-direction: column;
      transition: none;

      .header__navigation-arrow {
        transition: transform 0.3s ease;
      }

      &.active .header__navigation-arrow {
        transform: rotate(-90deg);

        path {
          fill: $gold;
        }
      }
    }


  }

  &__dropdown {
    @media (max-width: 780px) {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);

      &--white {
        background-color: $blue;
        border: 1px solid $white;
      }
    }




    &.active {
      @media (max-width: 780px) {
        top: 12px;
        position: relative;
        max-height: 500px; // достаточно для всех пунктов
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

    }
  }

  @media (max-width: 780px) {
    &__dropdown {
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 0;
      transition: none;
    }

    &__dropdown-link {
      padding: 10px 0;
      font-size: 22px;
      width: 100%;
      text-align: center;
    }
  }
}



.phone-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.phone-icon {
  width: 42px;
  height: 42px;
  fill: $white;
  transition: 300ms ease-in-out;

  @media (max-width: 1440px) {
    width: 36px;
    height: 36px;
  }

  @media (max-width: 1200px) {
    width: 26px;
    height: 26px;
  }

  &:hover {
    fill: $gold;
  }
}

.phone-modal {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 9999;
  padding: 1rem;
  width: max-content;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  animation: fadeIn 0.2s ease-out;
}

.phone-modal__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.phone-modal__link {
  color: #007aff;
  text-decoration: none;
  padding: 0.25rem 0;
  display: block;
}

.phone-modal__link:hover {
  text-decoration: underline;
}

.phone-modal__close {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  color: #999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.header__phone-list {
  display: none;

  @media (max-width: 780px) {
    margin-top: auto;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
  }



  @media (max-width: 580px) {
    gap: 18px;
  }
}

.header__phone-item {
  width: max-content;
}

.header__phone-link {
  text-decoration: none;
  @include font(24px, 400, 100%);
  text-transform: uppercase;
  color: $text-white;
  cursor: pointer;
  text-wrap: wrap;
  text-align: center;

  @media (max-width: 780px) {
    display: block;
    @include font(16px, 400, 120%);
  }

  @media (max-width:580px) {
    font-size: 14px;
  }



  &:hover {
    transition: ease-in-out 100ms;
    color: $gold;
  }

}

body.menu-open {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}