.hero {
    position: relative;
    overflow: hidden;
    max-height: 1000px;


    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 0;
        transition:
            opacity 1.2s ease,
            filter 1.2s ease,
            transform 6s ease;

        // объединено в один filter
        filter: brightness(80%) blur(0px);
        transform: scale(1);

        &-active {
            opacity: 1;
            filter: brightness(80%) blur(0px);
            transform: scale(1.08); // эффект увеличения при переходе
            z-index: 1;
        }
    }


    &__title {
        @include font(80px, 700, 120%);
        width: 1526px;
        text-transform: uppercase;
        color: $text-white;
        z-index: 5;

        @media (max-width: 1600px) {
            @include font(66px, 700, 120%);
            width: 1267px;
        }

        @media (max-width: 1440px) {
            @include font(60px, 700, 120%);
            width: 1148px;
        }

        @media (max-width: 1200px) {
            @include font(50px, 700, 120%);
            width: 963px;
        }

        @media (max-width: 1000px) {
            @include font(38px, 700, 120%);
            width: 963px;
        }

        @media (max-width: 780px) {
            @include font(34px, 700, 120%);
            width: 668px;
        }

        @media (max-width: 740px) {
            @include font(22px, 700, 120%);
            width: 668px;
        }

        @media (max-width: 430px) {
            @include font(17px, 700, 120%);
            width: 340px;
        }

        &-wrapper {

            padding-top: 713px;
            padding-bottom: 85px;
            width: auto;
            transform: translateX(-100%);
            opacity: 0;
            transition: transform 1.2s ease, opacity 1.2s ease;

            @media (max-width: 1600px) {
                padding-top: 739px;
                padding-bottom: 95px;
            }

            @media (max-width: 1440px) {
                padding-top: 753px;
                padding-bottom: 95px;
            }

            @media (max-width: 1200px) {
                padding-top: 784px;
                padding-bottom: 90px;
            }



            @media (max-width: 780px) {
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                padding-top: 419px;
                padding-bottom: 40px;
            }

            @media (max-width: 360px) {
                padding-top: 272px;
                padding-bottom: 35px;
            }


            &--visible {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    &__wrapper {

        display: flex;
        justify-content: space-between;
        z-index: 3;
        position: relative;
    }

    &__line {
        position: absolute;
        bottom: -5px;
        left: -118px;
        width: 2033px;
        height: 46px;
        z-index: 5;



        @media (max-width: 780px) {
            height: 31px;
        }


        @media (max-width: 430px) {
            height: 27px;
        }
    }


    &__link {
        display: inline-block;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        overflow: hidden;
        right: -48px;
        bottom: 85px;
        position: absolute;
        text-decoration: none;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1.2s ease, opacity 1.2s ease;

        &--visible {
            transform: translateX(0);
            opacity: 1;
        }

        &:hover {
            &::before {
                background: none;
            }
        }

        &:active {
            transform: scale(0.95);

            &::before {
                background: none;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $overlay-30;
            z-index: 1;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        &-content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: $text-white;
            z-index: 2;
            text-align: center;

            @include font(30px, 400, 100%);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}